$primary-color: blue;
$fonts: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$txt: justify;
.main {
    h1 {
        color: $primary-color;
    }
    h2 {
    width: 20px;
    margin-top: 150px;
    margin-left: 40px;
    }
}
.bkg{
  background-image:url('assets/img/books.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  padding-top: 25px;
  background-color: tomato;
  background-blend-mode: multiply;
}
.login-form{
  margin-top:40px;
  background: white;
}

.login {
   margin-top: 150px;
}

.text {
    width: 400px;
    margin-left: 40px;
    font-family: $fonts;
    }
.btn {
    background-color: tomato;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 30px;
    &:hover {
        background-color: tomato;
    }
    &:focus {
        background-color: tomato;
    }
}
.logo {
    font-family: $fonts;
    margin-bottom:20px;
    text-align: center;
}
.dms {
    font-family: $fonts;
    margin-bottom:20px;
    padding-left:20px;
    background-color: #9e3f3f;
}
.shadow{
border:3px double #fff;
-moz-box-shadow: 4px 6px 12px #dfdfdf;
-webkit-box-shadow: 4px 6px 12px #dfdfdf;
box-shadow: 12px 12px 12px 12px #dfdfdf;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=13, Direction=135, Color='#dfdfdf');
}

.Signup {
    width:40%;
    margin-left: 40px;
}

.Tabs {
    box-shadow: none;
}
.why {
    text-align: $txt; 
}

.err {
    text-align: $txt; 
    font-family: $fonts;
    font-size: 12px;
    color: red;
    margin-left: 20px;
}

.dropdown-content li>a, {
  color: black;
}

.search {
    background-color: #fff;
}

.red {
    right: 24px;
    float: right;
    margin-top: 30%;
    background-color:#9e3f3f;
}

.icons {
 color: grey;
}

.btn-cancel {
 background-color:lightslategrey;
 color: #fff;
  &:hover {
        background-color: lightslategrey;
    }
  &:focus {
        background-color: lightslategrey;
    }
}

.btn-save {
 background-color: darkslategrey;
 color: #fff;
  &:hover {
        background-color: darkslategrey;
    }
    &:focus {
        background-color: darkslategrey;
    }
}

.icon-common {
    margin-bottom: 0;
}

.btn-floating {
    bottom: 20px;
    right: 20px;
    position: fixed
}

.info {
    float: right;
    color: tomato;
}

.access {
    color: grey;
}
li.dropdown-button {
    list-style: none;
}
.card-panel {
    height: 18rem;
}

.dialog {
    display: inline-block;
}

.profile {
    font-weight: 100;
    background: lightgray;
    font-size: 18px;
}

.loader {
    text-align: center;
}

.loader-hide {
    display: none;
}